*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.App {
  width: 100%;
  height: 100vh;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: var(--primary-color);
}

/* Pre */
:root {
  --primary-color: rgb(222, 222, 222);
  --accent-color: #60c9ec;
  --border-color: #ffffff;
}

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Border */
.border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1rem;
  width: 100%;
  background: var(--border-color);
  filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.2));
  border: none;
  z-index: 1;
}

.border-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  width: 40%;
  background: var(--border-color);
  transform: translate(0%, 10%);
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
}

.border-around {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border-left: 1.25rem solid var(--border-color);
  border-right: 1.25rem solid var(--border-color);
  filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.side-borders {
  margin: 1rem 0 -1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}

.border-left {
  margin-left: -.1rem;
  width: 1rem;
  background: var(--border-color);
  height: 60vh;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  z-index: 1;
}

.border-right {
  margin-right: -.1rem;
  width: 1rem;
  background: var(--border-color);
  height: 60vh;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}

.border-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  width: 40%;
  background: var(--border-color);
  transform: translate(0%, -100%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
  z-index: 1;
}

/* Components */
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Main */
img {
  width: 1.5rem;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 1vh;
}

strong {
  color: var(--accent-color);
  text-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
}

bold {
  color: var(--accent-color);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

/* Percentage */
.green {
  color: green
}

.red {
  color: red
}

.price {
  transition: .2s all ease-in-out;
  cursor: pointer;
}

.price:hover {
  color: var(--accent-color);
}

/* Currency Selector */
select {
  padding: 1vh .5vw;
  margin: 1vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 5px;
  outline: none;
  transition: .1s all ease-in-out;
  cursor: pointer;
}

select:hover {
  background: rgba(190, 190, 190, .2);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .1);
  transform: scale(1.05)
}